#wrapper {
	display:flex;
	align-items: center;
	justify-content: center;
	width: auto;
	min-height: 100%;
	margin: auto;
	height: auto !important;

}

#wrapper img{
	margin-right: auto;
	margin-left: auto;
	

}

img{
	display: flex;
	width: 15%;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;

}

body	{
	background-image: url("Haus des Geldes_ohne text.jpg");
	
	background-size: cover;
	
		}


}


header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	height: auto;
	width: 100%;
		
}

ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
	height: auto;
	width: auto;
}
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	height: auto;
	width: auto;
}


li {
 display: flex;	
   float: left;
  margin-right: auto;
  margin-left:auto;
  
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  
}

li a:hover {
  background-color: red;
}

video {
	display: flex;
	width: 85%;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	
} 

aside {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

footer {
	color: white;
	float: left;
	min-height: 100%;
	
	}

#maze_container{
    border: 1px solid red;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#maze{
	width: 800px
	height: 500px
}

#hidden {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}
	
	