#wrapper {
	display:flex;
	align-items: center;
	justify-content: center;
	width: auto;
	min-height: 100%;
	margin: auto;
	height: auto !important;


}

img{
	display: flex;
	width: 15%;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	

}

body {
	background-color: black;
	
}
		
body img {
	margin-left: auto;
	margin-top: auto;

}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	height: auto;
	width: 100%;
		
}

ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	height: auto;
	width: auto;
}
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	height: auto;
	width: auto;
}


li {
 display: flex;	
   float: left;
  margin-right: auto;
  margin-left:auto;
  
}

li a {
  display: flex;
  color: white;
  text-align: left;
  padding: 20px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #008080;
  
}

#stickyfooter {
	color: white;
	height: 50px;
	margin-bottom: 100px;
	
	}